*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Georgia, Times, serif
}

html,body{
	height: 100%;
}

.center{
    max-width: 1120px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    background-color: #3b5998;
    padding: 20px 0;
}

.logo{
    float: left;
    color: white;
    font-size: 40px;
    padding-left: 3.6%;
}

.login-senha{
    float: right;
}

.form-element{
    color: white;
    display: inline-block;
}

.form-element p{
    font-size: 14px;
}   

.form-element input[type=email],.form-element input[type=password]{
    margin-top: 4px;
    border: 0;
    height: 30px;
    padding-left: 4px;
    border-radius: 4px;
}

.esqueceusenha{
    position: absolute;
    margin-top: 2px;
    
}

.esqueceusenha a{
    text-decoration: none;    
    color: white;
    opacity: 0.4;
}

.form-element input[type=submit]{
    cursor: pointer;
    border: 0;
    background-color: #3b5998;
    border: 1px solid #052466;
    padding: 3px 5px;
    color: white;
    border-radius: 4px;
    height: 30px;
    margin-left: 5px;
}

.form-element input[type=submit]:hover{
    background-color: #496dbb;
}

section.main{
    background: linear-gradient(white,#D3D8E8);
    padding: 40px;
}

.img-mapa{
    text-align: left;
    /* border: 5px solid red; */
    float: left;
    width: 50%;
}

.img-mapa img{
    max-width: 100%;
}

.img-mapa p{
    padding: 0px 40px;
}

.abrir-conta{
    width: 41%;
    float: right;
    padding-right: 5%;
}

.abrir-conta h2{
    color: black;
    font-size: 26px;
}

.abrir-conta h3{
    color: black;
    font-size: 19px;
    color: rgb(30, 30, 30);
    margin-top: 8px;
    font-weight: normal;
}

.criar-conta{
    margin-top: 10px;
}

.w50{
    width: 50%;
    float: left;
}

.w50 .sobrenome{
    text-align: right;
}

.criar-conta > .w50 input[type=text]{
    width: 98%;
    padding: 5px;
}

.criar-conta > .w100 input[type=email], .w100 input[type=password]{
    width: 100%;
    
}

.w100{
    margin-top: 8px;
    width: 100%;
    float: left;
}

form.criar-conta input[type="email"],
form.criar-conta input[type="text"],
form.criar-conta input[type="password"]{
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    border: 1px solid #36617c;
    border-radius: 8px;
}

form.criar-conta input[type="submit"]{
    height: 40px;
    background: linear-gradient(#67ae55,#578843);
    color: white;
    cursor:pointer;
    border: 0;
    max-width: 200px;
    font-size: 19px;
    border-radius: 4px;
    width: 50%;
}

form w100 h2{
    color: #1d2129;
    font-size: 22px;
    font-weight: normal;
    margin-top: 10px;
}

form select.nascimento{
    float: left;
    margin-top: 5px;
}

.input-radio h2{
    display: inline-block;
    font-size: 20px;
}

.input-radio {
    float: left;
    width: 40%;
    /* border: 1px solid red; */
    text-align: left;
    margin: 8px 0;
}

section.linguas{
    padding: 25px 0;
}

section.linguas a{
    text-decoration: none;
    color: #385898;
    padding-right: 8px;
}

section.linguas a.selected{
    color: #737373;
    cursor: auto;
    font-size: 14px;
}

section.linguas .center{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;

}

section.linguas >.center:last-of-type{
    padding-top: 10px;
    border-bottom: 0;
}







