* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,
body {
	height: 100%;
}

/*
Classes Auxiliares
*/

.center {
	margin: 0 auto;
	max-width: 80%;
	padding: 0 2%;
}

.clear {
	clear: both;
}

.layer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
/***/

section.main {
	position: relative;
	background-image: url(../images/bg1.jpg);
	background-size: cover;
	/* background-size: 100% 100%; */
	background-position: center;
	width: 100%;
	padding: 15px 0;
	min-height: 800px;
	/* min-height: 100vh; */
}

section.main header {
	position: relative;
	z-index: 2;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}

.icons-social {
	float: right;
}

.icons-social a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin: 0 15px;
}

.logo {
	float: left;
	color: white;
	font-size: 30px;
	font-weight: bold;
}

nav.desktop {
	margin-top: 10px;
	float: right;
}

nav.desktop ul {
	list-style: none;
}

nav.desktop li {
	display: inline-block;
	margin: 0 15px;
	font-size: 22px;
	font-weight: lighter;
}

nav.desktop a {
	color: white;
	text-decoration: none;
}

.conteudo-header {
	position: relative;
	z-index: 2;
	max-width: 700px;
	margin: 110px 0;
}

.conteudo-header h2 {
	color: white;
	font-weight: lighter;
	font-size: 44px;
}

.conteudo-header h2 > span {
	color: #2692ff;
}

.conteudo-header p {
	color: white;
	margin-top: 18px;
	font-size: 16px;
	font-weight: lighter;
}

.conteudo-header a {
	display: block;
	width: 177px;
	height: 44px;
	background: #2693ff;
	color: white;
	text-align: center;
	line-height: 44px;
	text-decoration: none;
	margin-top: 20px;
	border-radius: 20px;
}

.chamada-planos {
	width: 100%;
	text-align: center;
	padding: 27px 2%;
	/* background-color: rgb(220, 220, 220); */
}

.chamada-planos h2 {
	display: inline-block;
	border-top: 2px solid #2692ff;
	color: #2692ff;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 25px;
}

.box-planos {
	width: 100%;
	padding: 40px 0;
}

.box-planos > .center {
	display: flex;
	flex-wrap: wrap;
}

.box-planos-single {
	width: 33.3%;
	padding: 0 40px;
}

.box-planos-wraper {
	width: 100%;
	border: 1px solid #ccc;
	min-height: 300px;
	-webkit-box-shadow: 10px 9px 5px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 9px 5px -8px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 9px 5px -8px rgba(0, 0, 0, 0.75);
}

.box-planos-single h2 {
	color: white;
	text-align: center;
	padding: 3px;
	font-weight: lighter;
}

.lore {
	background: #2692ff;
}

.pontos-plano {
	padding: 8px 0 15px 8px;
}

.box-planos-single p {
	color: #777777;
	margin-left: 20px;
	font-size: 17px;
	margin-top: 8px;
}

.preco {
	margin-top: 10px;
	padding: 15px 0;
	text-align: center;
}

.preco h2 {
	font-size: 24px;
	color: #777;
	padding: 0 20px;
	display: inline-block;
    border-top: 1px solid #ccc;
}


@media screen and (max-width: 768px ){
	.box-planos-single{
		width: 100%;
		margin: 10px 0;
		text-align: center;
	}

	.lore{
		font-size: 20px;
	}

	.box-planos-wraper{
		min-width: 300px;
	}
	
	.box-planos-single p {
		margin-left: 0px;
	}

	.pontos-plano p{
		/* background-color: red; */
		font-size: 20px;
	}

}